* {
    margin: 0;
    padding: 0;    
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.transp-bcg {
    display: none;
    min-width: 100%;
    min-height: 100%;
    background-color: red;
    opacity: 0;
    position: fixed;
    z-index: 100; 
}

.container {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto; 
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    overflow: hidden;
}

.container::after {
    content: '';
    clear: both;
    display: table;
}

.btn {
    width: 150px;
    margin: 10px auto 10px auto;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    z-index: 200;
    display: none;
}

.game-over {
    display: none;
    position: absolute;
    top: 175px;
    width: 400px;
    z-index: 100;
    transform: rotate(45deg);
    animation-name: animation-gm;
    animation-duration: 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.flags-a {
    background-image: url('img/flag.png');
    background-size: 50px; 
}

@keyframes animation-gm {
    0% {
        opacity: .9;
        scale: 1;
    }
    100% {
        opacity: .6;
        scale: 1.02;
    }
}